<h1><%= @band.name %></h1>
<a href="<%= new_band_album_url(@band) %>">Add an album</a>

<form action="<%=band_url(@band)%>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <button type="submit">DELETE BAND</button>
</form>


<% @band.albums.each do |album| %>
<a href="<%= album_url(album) %>"><%= album.title %></a>
<% end %>
